/* Палитра сайта */

/* -----Фон страницы-----
Первичный цвет фона: #ffffff
Вторичный цвет фона: #2f303a
Цвет фона отдельных секций: #F5F4FA

--------Цвет текста------
Первичный цвет текста: #757575
Вторичный цвет текста: #ffffff
Цвет текста заголовков: #212121

--------Цвет акцента-----
Цвет акцента текста: #2196F3
Цвет акцента элемента: #2196F3
*/

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;

  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;

  --text-accent-color: #2196f3;
  --element-accent-color: #2196f3;
}
